*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100px;
    width: 100px;
    background-color: aqua;
    
    
}
@media screen and (width > 700px)
{
  .container{
    padding: 30px;
    background-color: aqua;
  }  
}
@media screen and (width <=700px) {
    .container {
        padding: 10px;
        background-color: aqua;
    }
}